//Footer Section styles
@import "../utilities/mixins";

footer {
  background-color: #f3efff;
  height: 60vh;

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      @include font($SF-Pro-Boldfont, 500, 20px, 30px);
      text-align: center;
      letter-spacing: -1px;

      @media screen and (min-width: 450px) {
        text-align: left;
      }
    }

    .main-buttons {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 450px) {
  footer {
    height: 33vh;
    margin-top: 53px;

    .footer {
      flex-direction: row;

      .main-buttons {
        margin: auto;
        flex-direction: row;

        .btn-bgcolor {
          margin-top: 19px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    height: 261px;
    margin-top: 6rem;

    .footer {
      margin-left: 6rem;

      h1 {
        @include font($SF-Pro-Boldfont, 500, 40px, 50px);
        letter-spacing: -2px;
      }

      .main-buttons {
        flex-direction: row;
      }
    }
  }
}
