//Scrollspy Styles

.content-tabs {
  font-family: $IBM-font;
  font-weight: 600;

  .content-nav {
    width: 100%;
    position: sticky;
    top: -1rem;
    backdrop-filter: grayscale(1) blur(8px);
  }

  ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 98%;
    border-bottom: 2px solid #d6d5d5;
    padding-left: 0;

    .nav-link .active {
      color: $active-color;
      border-bottom: 2px solid;
      opacity: 100%;
    }

    li {
      padding: 9px 0px 0px 0px;
      width: 28%;
      list-style-type: none;

      a {
        color: #191923;
        opacity: 0.55;

        &.active {
          color: $active-color;
          opacity: 100%;
        }
      }
    }
  }

  .selected-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .selected-image {
      margin-top: 3rem;
      width: 100%;
    }

    .selected-description {
      padding-top: -4rem;
      margin: 3rem;

      .selected-title {
        @include font($IBM-font, $semi-bold, 18px, 26px);
        letter-spacing: -0.2px;
      }

      .selected-subtitle {
        @include font($IBM-font, $regular, 16px, 24px);
        color: $description-font-color;
        padding-top: 15px;
      }

      .pricing-text {
        @include font($SF-Pro-Mediumfont, $semi-bold, 1rem, 0);
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (min-width: 450px) {
    .content-tabs {
        .content-nav {
          width: 100%;
        }

        .selected-content {
          flex-direction: row;
        }
        ul {
          li {
            width: 15%;
          }
        }
      }
    }

@media screen and (min-width: 1024px) {

    .content-tabs {
        margin: 1.5rem 0 0 3rem;
        width: 67%;

        ul {
          width: 100%;

          li {
            padding: 9px 0px 0px 0px;
            width: 20%;

            a {
              @include font($IBM-font, $semi-bold, 13px, 0);
              color: #191923;
              opacity: 0.55;


              &.active {
                color: #120ef0;
                border-bottom: 2px solid;
                opacity: 100%;
              }
            }
          }
        }

        .selected-content {
          margin-left: -3.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          .selected-image {
            margin-top: 3rem;
          }

          .selected-description {
            padding-top: -4rem;
            margin: 0rem 3rem;

            .pricing-text {
              @include font($SF-Pro-Mediumfont, $regular, 16px, 0);
              margin-top: 2rem;
              letter-spacing: -0.6px;
            }
          }
        }
    }
}