@import "utilities/variables";
@import "utilities/mixins";
@import "layout/footer";
@import "layout/header";
@import "components/sliderBackground";
@import "components/scrollspy";
@import "components/carousel";

//For Mobile Devices

//common styles
* {
  box-sizing: border-box;
  margin: 0;
  font-size: 12px;
}

//Selected link styles
a {
  text-decoration: none;
  color: $black;

  &.active {
    color: #120ef0;
    border-bottom: 2px solid;
    opacity: 100%;
    font-size: 12px;
  }

  &:hover {
    cursor: pointer;
  }
}

//Default image size
img {
  width: 100%;
}

//Selected tab content styles
.content-category {
  letter-spacing: 4px;
  font-size: 11px;
  color: $highlight-color;

  &::before {
    display: inline-block;
    content: "";
    border-top: 8px solid $highlight-color;
    width: 39px;
    margin-right: 12px;
    transform: translateY(0rem);
  }
}

.pricing-text {
  font-weight: $semi-bold;
  color: $active-color;
  font-size: 16px;

  &::after {
    content: "  ";
    display: inline-block;
    background-image: url(../assets/icon/color-arrow.svg);
    background-size: contain;
    transform: rotateZ(-45deg) translateY(4px);
    background-position: center;
    background-repeat: no-repeat;
    top: -2px;
    position: relative;
    padding: 6px 8px;
  }
}

.main-buttons {
  margin-top: 34px;

  .btn-bgcolor {
    background: linear-gradient(-107.11deg, #4300a3 0%, #6100bb 100%);
    box-shadow: 0px 1px 3px 0px #000430;
    color: $white;

    &::after {
      background-image: url(../assets/icon/white-arrow.svg);
    }

    &:hover {
      color: $white;
      width: 210px;
      background: linear-gradient(36deg, #7536cc 0%, #a562e5 100%);
    }
  }

  .btn-signup {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    margin-top: 19px;

    &::after {
      background-image: url(../assets/icon/black-arrow.svg);
    }

    &:hover {
      color: $black;
      width: 210px;
      background: linear-gradient(36deg, #ffffff 0%, #eaeaea 100%);
    }
  }

  button {
    @include font(Basis Grotesque, $regular, 16px, 0);
    border-radius: 4px;
    margin-right: 10px;
    border: none;
    width: 199px;
    height: 46px;
    transition: all 0.5s ease;

    &::after {
      content: " ";
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      padding: 0px 6px;
      top: 5px;
      left: 8px;
    }
  }
}

//Parent Container
.container-main {
  main {
    padding: 3.5rem;
  }

  section {
    padding: 2.5rem;
  }

  .bg-image {
    //Main content and background image
    .nav-bar {
      margin: 2.5rem 2.5rem 0;
    }

    .main {
      width: 100%;

      h1,
      h3 {
        color: #030343;
      }

      h1,
      .sub-title {
        @include font($IBM-font, $semi-bold, 28px, 40px);
        letter-spacing: -1px;
        text-align: left;
      }

      .title {
        color: $highlight-color;
      }

      .sub-title {
        font-size: 28px;
      }

      .description {
        @include font($IBM-font, $regular, 1.3rem, 0);
      }
    }
  }

  //Leading brands section
  .leading-brands {
    margin-top: 5rem;

    h3 {
      @include font("Basis Grotesque", $regular, 16px, 0);
      opacity: 0.67;
      color: #1d0046;
    }

    .brand-icons {
      align-items: center;
      margin-top: 2rem;

      img {
        margin-right: 1.2rem;
      }

      .goop {
        width: 20%;
      }

      .study,
      .freshworks {
        width: 35%;
      }
    }
  }

  //Deploy strategies section
  .deploy-strategies,
  .beyond-billing {
    display: flex;
    flex-direction: column;
  }

  //Beyond Billing
  .beyond-billing {
    .content-title {
      font-family: $SF-Pro-Boldfont;
    }
  }

  //Testimonials
  .testimonials {
    font-family: $IBM-font;

    .quote {
      display: none;
    }

    ul {
      display: flex;
      li {
        list-style-type: none;
        font-weight: 500;

        button {
          @include font($IBM-font, $semi-bold, 16px, 0);
          background-color: inherit;
          border: none;
          color: $black;
        }

        .active {
          color: $active-color;
          border-bottom: 2px solid;
        }
      }
    }

    .tab-content {
      margin-top: 3rem;
    }

    .testimonial-content {
      box-shadow: 0px 2px 18px -4px #7271718c;
      border-radius: 8px;
      padding: 3rem 1.5em;

      .testimonial-message {
        h1 {
          color: $secondary-active-color;
          font-weight: $semi-bold;
          letter-spacing: -1px;
        }

        h2 {
          @include font($IBM-font, $regular, 1.3rem, 0);
          color: $description-font-color;
        }

        a {
          font-size: 1.2rem;
        }
      }

      .testimonial-image {
        h3 {
          color: $secondary-active-color;
          text-align: center;
          font-size: 1.1rem;
          padding-top: 1rem;
        }
      }
    }
  }

  //Modern-Cfo
  .modern-cfo {
    h1 {
      @include font($IBM-font, $semi-bold, 36px, 0);
      letter-spacing: -0.64px;
    }

    .container {
      h3 {
        @include font($IBM-font, $bold, 20px, 30px);
        letter-spacing: -0.5px;
      }

      a {
        @include font($IBM-font, $regular, 13px, 24px);

        &.pricing-text {
          font-weight: $semi-bold;
        }
      }

      .row {
        margin-top: 42px;
      }

      .col-sm,
      .col-sm {
        h5 {
          font-family: $IBM-font;
          font-weight: 400;
          margin-bottom: 10px;
        }

        &::before {
          content: "\f058";
          font-family: FontAwesome;
          position: relative;
          top: 28px;
          font-size: 17px;
          left: -1.9rem;
        }
      }
    }
  }

  .content-container {
    font-family: $IBM-font;

    .content-title {
      @include font($IBM-font, $bold, 33px, 44px);
      padding-top: 9px;
      letter-spacing: -0.64px;
    }

    .content-description {
      @include font($IBM-font, $regular, 16px, 24px);
      color: $description-font-color;
    }
  }
}

//For Tablet Devices

@media screen and (min-width: 450px) {
  //Parent Container
  .container-main {
    //Main content and background image
    .bg-image {
      height: 135vh;
      background-repeat: no-repeat;
      background-image: url(../assets/heroimage@2x.png);
      background-position: right;
      background-size: 92%;

      .nav-bar {
        margin: 3.5rem 5.5rem 0;
      }

      .main {
        width: 44%;
      }
    }

    //Testimonials styles
    .testimonials {
      .quote {
        display: none;
      }
    }
  }
}

//For Laptop and Larger Devices

@media screen and (min-width: 1024px) {
  a {
    padding-right: 1.8rem;
  }

  //Parent Container
  .container-main {
    main {
      margin-top: 3rem;
    }

    section.container-fluid {
      padding: 2.5rem 0 2.5rem 2.5rem;
    }

    .bg-image {
      height: 139.5vh;
      background-size: 92%;

      .nav-bar {
        margin: 2.8rem 5.5rem 0;
      }

      .main {
        h1,
        .sub-title {
          @include font($IBM-font, $semi-bold, 48px, 54px);
          letter-spacing: -1px;
          text-align: left;
        }

        .title {
          padding-right: 43px;
        }

        .description {
          @include font($IBM-font, $regular, 18px, 27px);
          margin-top: 34px;
        }
      }

      .leading-brands {
        margin-top: 104px;

        .brand-icons {
          display: flex;
          align-items: center;

          .goop {
            width: 64.66px;
          }

          .study {
            width: 141.8px;
          }

          .freshworks {
            width: 129.32px;
          }
        }
      }
    }

    //Selected tab container
    .content-container {
      .content-title {
        font-size: 36px;
      }

      .content-description {
        margin-top: 35px;
      }
    }

    //Deploy Strategy styles
    .deploy-strategies,
    .beyond-billing {
      flex-direction: row;
    }

    .deploy-strategies {
      overflow-x: clip;
      margin-top: 255.5px;

      @media screen and (min-width: 900px) and (max-width: 1024px) {
        margin-top: 44% !important;
      }

      .content-container {
        position: absolute;
        z-index: 1;
        width: 24.5%;
        margin-left: 5rem;
      }
    }

    //Beyond Billing styles
    .beyond-billing {
      margin-top: 5rem;
      .content-container {
        width: 29%;
      }

      .content-title {
        width: 284px;
        color: #232323;
        font-family: $SF-Pro-Boldfont;
        letter-spacing: -1.64px;
      }

      .content-description {
        @include font($IBM-font, $regular, 16px, 24px);
        width: 256px;
      }
    }

    //Testimonials Section styles
    .testimonials {
      margin-top: 7rem;

      .tab-content {
        margin: auto;
        padding-top: 4rem;
        height: 347px;
        width: 858px;
      }

      .quote {
        display: block;
        position: relative;
        top: 12rem;
        right: -1rem;
        border: none;
        width: 35px;
        padding: 12px;
        height: 35px;
        color: $white;
        background-color: $secondary-active-color;
        text-align: center;
        border-radius: 30px;
      }

      .testimonial-content {
        height: 347px;
        width: 858px;

        .testimonial-message {
          padding-left: 30px;
          width: 100%;
          margin-right: 30px;
          padding-top: 24px;

          h1 {
            @include font($IBM-font, $bold, 32px, 1.26);
            padding-right: 10%;
          }

          h2 {
            @include font($IBM-font, $regular, 18px, 1.55);
            margin-top: 23px;
          }

          a {
            @include font($IBM-font, $semi-bold, 16px, 20px);
            padding-top: 26px;
          }
        }

        .testimonial-image {
          padding: 38px 38px 38px 0;
          img {
            width: 75%;
            margin: auto;
          }

          h3 {
            @include font($IBM-font, $semi-bold, 16px, 20px);
            padding-top: 1rem;
          }
        }
      }
    }

    //Modern Cfo Section styles
    .modern-cfo {
      margin-top: 180px;
      margin-left: 3rem;

      .title {
        width: 402px;

        .container {
          margin-left: -8px;
        }
        h1 {
          @include font($IBM-font, $semi-bold, 36px, 44px);
          letter-spacing: -0.64px;
        }
      }

      .container {
        .col-sm,
        .col-sm {
          margin-right: 52px;
        }
      }
    }
  }
}
